# configuration
.env
customers.txt

# side file for executing program
__pycache__
.obsidian

# records
detection_details
ip_record
*.json
data/unable_check_ip.txt

# test code
test*
api_test.py 

