# configuration
.env
customers.txt

# side file for executing program
__pycache__
.obsidian

# records
c2_detections_record
c2_ip_record
hacking_tools_detections_record
hacking_tools_ip_record

# test code
test.py 